.form-login {
    display:flex;
    flex-direction: column;
    max-width:520px;
    margin: 10px auto;
    padding: 20px;
    gap: 10px;  
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

input, select, textarea {
    border-radius:9px;
    border:#AEAEAF solid 1px;
    box-shadow: 1px 2px 2px 1px #e6e4e4;
    height:25px;
    color:#4f5c71;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    color:#4f5c71;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


.form-login-btn {
    cursor: pointer; 
    border-radius:50px;
    border:none;
    background: linear-gradient(to left top, #091F43, #792026);
    color:white;
    box-shadow: 1px 3px 2px 1px #e6e4e4;
    padding:14px;
    max-width: 600px;
    transition: all 400ms linear;
    margin:auto;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-login-btn:hover {
    box-shadow: 2px 4px 3px 2px #7E7E7E;
    background: linear-gradient(to right bottom, #091F43, #792026);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    input {
        font-size:16px;
    }
    .form-login-btn {
        font-size:16px;
    }
}

@media screen and  (min-width: 992px) {
    input {
        font-size:20px;
    }
    .form-login-btn {
        font-size:20px;
    }
}    
