
.like-container {
    display:flex;
    align-items: center;
    gap: 6px;
}

.like-icon {
    font-size: 1.2em;
    color:#4E5166;
}

.like-icon:hover {
    color:#FD2D01;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.like-count {
    font-size: 1em;
    color:#4E5166;
    margin:0;
}