
.like-container {
    display:flex;
    align-items: center;
}

.like-icon {
    font-size: 2em;
    color:#091F43;
}

.like-icon:hover {
    color:#792026;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.like-count {
    font-size: 1.2em;
    color:#091F43;
    margin:0;
}