.post-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color:#AEAEAF;
    border-radius:9px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 1px #e6e4e4;
    max-width: 1920px;    
}

.post-author{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

h3 {
    margin:0;
    font-size: small;
    color: #091F43;
}

.post-img {
    object-fit: cover;
    border-radius:9px;
    height: 200px;
    width: auto;
}

.post-title {
    margin: 6px 0;
    color:#091F43;
    font-size: 1.2em;
}

.post-description {
    margin:0;
    color:#091F43;
    font-size: 1em;
}

.post-functions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.post-buttons {
    display: flex;
    gap: 10px;
}

.post-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
    background-color:#091F43;
    border:none;
    border-radius:50px;
    color:white;
    text-align: center;
    padding: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .post-img {
        height: 400px;
    }
    .post-title {
        font-size: 1.5em;
    }
    .post-description {
        font-size: 1.3em;
    }
    .post-button {
        flex-direction: row;
}
}
@media screen and  (min-width: 992px) {    
    .post-img {
        height: 600px;
    }
    .post-title {
        font-size: 2.2em;
    }
    .post-description {
        font-size: 2em;
    }
    .post-button {
        flex-direction: row;
}
}    