.account-container {
    border: 1px solid #AEAEAF;
    border-radius:50px;
    box-shadow: 1px 3px 2px 1px #e6e4e4;
    padding:10px;
    box-sizing: border-box;
    margin:10px auto;
    width:90%;
}

.account-title {
    color:#091F43;
    text-align: center;
    margin: 0;
}

.account-info {
    display:flex;
    padding:5px;
   
}
.account-img {
    object-fit: cover;
    width: 40%;
    height: 40%;
}

.account-description {
    padding:10px;
}

.account-name {
    color:#792026;
    margin: 0;
    font-size: 14px;
    padding-bottom: 6px;
}

.account-email{
    margin: 0;
    font-size: 12px;
    color:#091F43;
}

.account-department {
    margin: 0;
    font-size: 12px;
    color:#091F43;
}
   
.account-functions {
    display:flex;
    justify-content: space-between;
    padding:10px;
    
}
