.container {
    display:flex;
    flex-direction: column;
    max-width: 1920px;
    box-sizing: border-box;
    align-items: center;
    padding:20px;
    margin: auto;
}

.container-post {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    max-width: 1920px;
    width:100%;
}

/*@media screen and (min-width: 768px) and (max-width: 992px) {
    .container-post {
        flex-wrap: nowrap;
}
}
@media screen and  (min-width: 992px) {
    .container-post {
        flex-wrap: nowrap;
}
}*/
