.footer {
    background-color: #FD2D01;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1920px;
    margin:auto;
    box-sizing: border-box;
}
.footer-img{
    width: auto;
    height: 30px;
    padding: 10px;
    object-fit: cover;
}

.footer-list {
    color:black;
    padding: 10px;
    list-style: none;
    display:flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

.footer-social {
    list-style: none;
    display:flex;
    gap:12px;
}
.social-icon {
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer{
        justify-content:space-evenly;
    }
    .footer-list {
        font-size: 20px;
    }   
    .footer-img{
        height:40px;
    } 
    .social-icon {
        font-size: 24px;
}
}

@media screen and  (min-width: 992px) {
    .footer{
        justify-content:space-evenly;
    }
    .footer-list {
        font-size: 26px;
    }   
    .footer-img{
        height:60px;
    } 
    .social-icon {
        font-size: 30px;
}
}
